
@model BreadcrumComponentsModel

<div class="text-left">
    <vc:navigation-bar model="@ViewBag.NewBreadcrumItem"></vc:navigation-bar>
    <div class="container">

        <div class="card bg-white mb-4 border-0 shadow">
            <div class="card-header bg-white border-0 d-flex align-items-center">
                <img src="~/media/bolt-solid.svg" alt="bolt" height="20" class="pr-3"/>
                <span>Azioni Rapide</span>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-sm-start justify-content-center">
                    <a asp-area="" asp-controller="Receipt" asp-action="Index" class="card text-center text-white bg-primary m-2 text-decoration-none shadow border-0" style="width: 10rem; height: 10rem;">
                        <div class="card-header box-shadow"><small>Scontrini</small></div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title">Nuovo scontrino</h5>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="Receipt" asp-action="List" class="card text-center text-white bg-primary m-2 text-decoration-none shadow border-0" style="width: 10rem; height: 10rem;">
                        <div class="card-header box-shadow"><small>Scontrini</small></div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title">Lista</h5>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="" asp-action="" class="card text-center text-white bg-warning m-2 text-decoration-none shadow border-0" style="width: 10rem; height: 10rem;">
                        <div class="card-header box-shadow"><small>Templates</small></div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h5 class="card-title">Gestione</h5>
                        </div>
                    </a>
                    <div class="card text-center text-muted bg-white m-2 text-decoration-none shadow border-0" style="width: 10rem; height: 10rem;">
                        <div class="card-header p-0 h-100 d-flex flex-column justify-content-center align-items-center">
                            <img src="~/media/plus-solid-op10.svg" alt="bullhorn" height="40" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 bg-white border-0 shadow">
            <div class="card-header bg-white border-0 d-flex align-items-center">
                <img src="~/media/clock-solid.svg" alt="recent" height="20" class="pr-3" />
                <span>Scontrini Recenti</span>
            </div>
            <div class="card-body">
                <div class="p-2 container-fluid d-flex justify-content-center align-items-center">
                    <img src="~/media/sad-tear-solid-50.svg" alt="empty" class="pr-4" height="45" />
                    <h2 class="text-black-50">Nessun risultato</h2>
                </div>
            </div>
        </div>
    </div>
</div>
