
@{
    ViewData["Title"] = "List";
}

<h1 class="display-4">Lista Scontrini</h1>

@for (int i = 0; i < 10; i++)
{
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                Bancomat
            </div>
            <div class="col-md-4">
                CENTRO COMM.LE VIA FERMI 24035 - CURNO
            </div>
            <div class="col-md-2">
                19-01-2020
            </div>
            <div class="col-md-2">
                20:11
            </div>
            <div class="col-md-2">
                EUR 12,90
            </div>
        </div>
    </div>
}


