<form class="input-group col-md-6 col-8" asp-controller="Search" asp-action="Index">
    <input class="form-control" type="search" placeholder="Cerca" aria-label="Search" name="query" formmethod="get">
    <div class="input-group-append">
        <button class="btn btn-primary d-flex align-items-center" type="submit">
            <img src="~/media/search-solid-white.svg" alt="search" height="15" />
        </button>
    </div>
</form>